# Dossiers Python
__pycache__/
*.pyc
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Fichiers système Mac
.DS_Store

# Logs & runs
mlruns/
reports/logs/

# Données volumineuses
data/
models/
models/**/*.h5
models/**/*.pt
models/**/pytorch_model.bin

# Streamlit & VSCode
.streamlit/
.vscode/
