# --- Core ML libraries ---
torch
transformers
scikit-learn
numpy
pandas
pyarrow

# --- NLP ---
spacy
nltk
emoji

# --- Web API ---
fastapi
uvicorn

# --- Tests ---
pytest
requests

# --- Optionnels utiles (log, encodage, etc.) ---
python-dotenv
loguru
mlflow
joblib

# --- Login Azure ---
opencensus-ext-azure
opencensus
